@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: white;
        background-color: black;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5]

    }
}

.tags {
    background-color: blue;
    margin-right: 0.5;
    margin-top: 0.5;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

.tags :last-child {
    margin-right: 0;
}

.tags:nth-child(2) {
    background-color: purple;
}

.tags:nth-child(2) {
    background-color: blueviolet;
}